<div>
    <img src='{{ this.image_url }}' onerror='this.src="/images/beer_error.webp"' />
    <h5>{{ this.name }}</h5>
    <p>{{ this.description }}</p>
    <p>Tag: <span>{{ this.tagline }}</span></p>
</div>