<div id='beer'>
    <a href='/beers/beer-{{this.id}}'>
        <img src='{{ this.image_url }}' onerror='this.src="/images/beer_error.webp"' />
    </a>
    <h5>{{ this.name }}</h5>
    <p id='tag'> {{ this.tagline }} </p>
    <p id='description'>{{ this.description }}</p>
</div>