<div id='beer'>
    <a href='/beers/beer-{{this.id}}'>
        <img src='{{ this.image_url }}' onerror='this.src="/images/beer_error.webp"' />
    </a>
    <div>
        <h2>{{ this.name }}</h2>
        <p id='tag'> {{ this.tagline }} </p>
        <p id='description'>{{ this.description }}</p>

        {{#if this.displayDetails}}
            <p id='food-pairing'>{{ this.food_pairing }}</p>
            <p id='brewers-tips'>{{  this.brewers_tips }}</p>
        {{/if}}
    </div>
</div>