<div id='beer'>
    <img src='{{ this.image_url }}' onerror='this.src="/images/beer_error.webp"' />
    <h5>{{ this.name }}</h5>
    <p id='description'>{{ this.description }}</p>
    <p id='tag'> {{ this.tagline }} </p>
</div>