<nav id='navbar'>
    <a href='/'>Home</a>
    <a href='/beers'>Beers</a>
    <a href='/random-beers'>Random Beer</a>
</nav>


<div class='flexbox'>
    <img src='/images/beer.png' alt='beer'/>
    <a class='btn' href='/beers'>Check the Beers!</a>
    <a class='btn' href='/random-beers'>Check a Random Beer</a>
</div>

